@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:#7f4f24;
    --color-secundario:#E5B819;
    --color-terciario:#ccd5ae;
    --color-backround: #fefae0;
    
    --fuente-montserrat:"Montserrat", sans-serif;
    --fuente-kronaOne: "Krona One", sans-serif;
}

body {
    background-color:var(--color-backround);
    color: var(--color-primario);
    box-sizing: border-box;
    margin: 0%;
    
}

.titulo-destaque {
    color:var(--color-terciario)
}

.myAvatar {
    width: 800px;

}

.presentacion{
    display: flex;
    align-items: center;
    padding: 3% 10%;
    justify-content:center;
    gap: 20%
   
}

.presentacion_contenido{
    width:;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.presentacion_contenido_titulo{
    color:var(--color-secundario);
    font-size: 36px;
    font-family: var(--fuente-kronaOne) ;
    margin: 0%;
    padding:0%;  
    
}

.presentacion_contenido_seccionCurriculum{
    width:800px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 5% 0% 5% 0%;
}

.Presentacion_contenido_subtitulo1{
    border:4px dotted var(--color-primario);
    border-radius:16px;
    padding: 2%;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    font-family: var(--fuente-montserrat);
    margin: 3% 0% 3% 0%;

    
}

.Presentacion_contenido_subtitulo2{
    color: var(--color-primario);
    font-family: var(--fuente-montserrat);
}
    
.presentacion_contenido_texto{
    font-size:24px ;
    margin: 0%;
    font-family: var(--fuente-montserrat);
    text-align: justify;
}

.miNombre:hover{
    background-color: var(--color-secundario);
    border-radius: 10px;
    padding: 2px;
    cursor: default;
}

.presentacion_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}


.presentacion_enlaces_link{
    width: 370px;
    text-align: center;
    padding:21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 600;
    text-decoration:none;
    color: var(--color-primario);
    margin: 1%;
    border:5px double var(--color-terciario);
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 7px;

}

.icon{
    width: 35px;
    justify-content: center;
}

.icon2{
    width: 45px;
    justify-content: center;
}

.presentacion_enlaces_link:hover{
    background-color: var(--color-terciario);
    cursor: pointer;
}



.texFollow {
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}

.footer{
    background-color: var(--color-primario);
    padding: 24px;
    color:var(--color-secundario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

.header{
    background-color: var(--color-secundario);
    padding:24px;
    display: flex;
    align-items: center;
}

.header_menu{
    padding: 0% 0% 0% 7%;
    margin: 0 20px;
    display: flex;
    gap: 80px;
    justify-content:left;
    align-items: center;
    
}

.header_menu_link{
    margin: 0 20px;
    padding:10px 20px ;
    font-family: var(--fuente-montserrat);
    font-size:28px;
    font-weight: 800;
    text-decoration:none;
    color: var(--color-primario);
   
}

.header_menu_link:hover{
    color:var(--color-secundario) ;
    background-color:var(--color-primario);
    border-radius: 16px;
    cursor: pointer;


}